{% extends "base.html" %}


{% block title %}Top{% endblock %}
{% block title_display %}Top View{% endblock %}

{% block header %}
    {% if request.user.is_authenticated %}
        {% block header_info %}
            <p>{{ request.user.username }} でログインしています <a href="{% url 'posts:home' %}">ホーム画面へ</a></p>
        {% endblock %}
        <form action="{% url 'accounts:logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">ログアウト</button>
        </form>
    {% endif %}
{% endblock %}

{% block body %}
    <h1>局一覧</h1>
    <p>現在、政府は以下の{{ bureaus.count }}局で構成されています。</p>
    {% for bureau in bureaus %}
        <p><a href="{% url 'posts:bureau' bureau.keyword %}">{{ bureau.name }}</a></p>
    {% endfor %}
{% endblock %}

{% block footer %}
    {% if not request.user.is_authenticated %}
        <p>
            PHアカウント登録をされている方は、<a href="{% url 'accounts:login' %}">ログインページへ</a>
        </p>
    {% endif %}
{% endblock %}