{% extends "base.html" %}

{% block header %}
    <h1>Top View</h1>
    {% if request.user.is_authenticated %}
        <p>{{ request.user.username }} でログインしています</p>
        <form action="{% url 'accounts:logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">ログアウト</button>
        </form>
    {% endif %}
{% endblock %}

{% block body %}
    This page is top view
    {% for bureau in bureaus %}
        <p>{{ bureau.name }}</p>
    {% endfor %}
{% endblock %}

{% block footer %}
    {% if not request.user.is_authenticated %}
        <p>
            PHアカウント登録をされている方<a href="{% url 'accounts:login' %}">ログインページへ</a>
        </p>
    {% endif %}
{% endblock %}