name: Django CI

on: pull_request

defaults:
  run:
    working-directory: ./system

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.11]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Formatter
      run: |
        python -m pip install --upgrade pip
        pip install -r ci-requirements.txt
    - name: Run flake8
      run: |
        flake8 ./
    - name: Run isort
      run: |
        isort --check-only --diff ./
